* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.main {
	margin: auto;
	max-width: 30em;
}

.logos {
	display: flex;
	align-items: center;
	gap: 1em;
	justify-content: center;
	padding: 1em;
}

.logos img {
	max-width: 40%;
	height: auto;
}

.buttons {
	display: flex;
	gap: 1em;
}

.buttons input {
	width: 6em;
}
